body {
    font-family: Rubik, sans-serif;
}
h1,h2,h3,h4,h5,h6 {
    font-family: Spectral, serif;
}
/* Start of jumbotron styling */
.jumbotron {
    min-height: 90vh;
    background-image: url("../img/joyful-lady.jpg");
    background-size: cover;
    background-repeat: repeat-x;
    display:flex;
    align-content:center;
    justify-items:center;
    align-items:center;
}
.form-rad {
    border-radius: 1rem;
}
.btn-no {
    border: none;
}

@media screen and (max-width: 900px) {
    .jumbotron {
        min-height: 50vh;
    }
  }
  /* End of jumbotron styling */


